<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
  <hr>
    {% include JB/comments %}  
</div>
